<div class="container">
    <div class="row mt-5 mb-5">
    <div class="col-md-2 mx-auto">
      <!--サイドバーを入れる-->
      <%= render "admin/genres/genre", genres: @genres %>
      <%= render "admin/tags/tag", tags: @tags %>
    </div>
      <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 mx-auto">
        <h3 class="text-center"><strong class="border-bottom border-dark">投稿一覧</strong></h3>
      
        <%= render "public/posts/show" %>
    </div>
  </div>
</div>