<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto text-center">
      <h3>見た目を変えれば意識が変わる</br>見た目が変われば人生が変わる</br></h3>
      <h4>輝いた自分になるために</h4>
      <h5></h5>
    </div>
  </div>
</div>