<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto text-center mt-5 mb-5">
      <h3>見た目を変えれば意識が変わる</br>意識が変われば人生が変わる</br></h3>
      <!--<h4>『身嗜み』を整え、輝いた自分になるために</h4>-->
      <h6>
        <!--就活、商談、同窓会、デート、冠婚葬祭など、人生におけるイベントは多々あります。</br>-->
        <!--センスなどは百人百様であり、相手に与える印象も百人百様です。</br>-->
        <!--このサイトは、より良い自分になるための知識共有と、他人や異性からの印象について知りたいという目的で提供されるサービスです。</br>-->
        <!--</br>-->
        「足元を見る」という言葉があります。</br>
        この言葉には語源があり、昔の宿場が旅人の足元を見て疲れ具合を見抜き、</br>
        それに応じて高い値段を要求していました。</br>
        法外な値段であっても、疲れていれば客はその金額で了承してしまっていました。</br>
        といったことが由来となっています。</br>
        </br>
        この語源のように、見た目ひとつで相手に与える印象は大きく変わり、</br>
        不利益を被る事もあります。</br>
        </br>
        例えば、眉毛を整えるだけで顔の印象の8割が決まると言われています。</br>
        印象が変われば周囲へ与える影響も変わり、身の回りの環境もわずかながら変化します。</br>
        小さなことでも変化を理解し、成功体験を積み重ねて自信をつけ、</br>
        より良い生き方を追求してほしいと願います。</br>
      </h6>

      <%= link_to "Enter", public_posts_path, class: "btn btn-dark" %>
    </div>
    <%= render "public/posts/show", posts: @posts %>
  </div>
</div>
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-2 mx-auto mt-4">-->
      <!--サイドバーを入れる-->
<!--      <%#= render "admin/genres/genre", genres: @genres %>-->
<!--      <%#= render "admin/tags/tag", tags: @tags %>-->
<!--    </div>-->
<!--    <div class="col-md-10 mx-auto">-->
<!--      <div class="row">-->
<!--        <div class="col-md-5 mx-auto mt-4 mb-4">-->
<!--          <%# if user_signed_in? %>-->
<!--              <%#= link_to "新規投稿", new_public_post_path, class: "btn btn-success btn-block" %>-->
<!--          <%# else %>-->
<!--          <%# end %>-->
<!--        </div>-->
<!--      </div>-->


<!--    </div>-->
<!--  </div>-->
<!--</div>-->


