<div class="container">
  <div class="row">
    <div class="col-md-2 mx-auto">
      <!--サイドバーを入れる-->
      <%= render "admin/genres/genre", genres: @genres %>
      <%= render "admin/tags/tag", tags: @tags %>
    </div>
    <div class="col-md-10 mx-auto">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <% if user_signed_in? %>
              <%= link_to "新規投稿", new_public_post_path, class: "btn btn-success btn-block" %>
          <% else %>
          <% end %>
        </div>
      </div>

    <%= render "public/posts/show", posts: @posts %>

    </div>
  </div>
</div>


