<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <h3 class="text-center"><strong class="border-bottom border-dark">投稿一覧</strong></h3>
      
      <% @users.each do |user| %>
      <div class="row">
        <div class="col-md-8">
          <div class="col-md-4">
            <%= image_tag user.get_profile_image(100, 100) %>
            <%= link_to user.account_name, public_user_path(user.id) %>
            <%= user.gender_i18n %>
            <%= user.age_groups_i18n %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>