<h1>Mypage</h1>
<div class="container">
  <%= render "public/users/show" %>
  <!--<div class="row">-->
  <!--  <div class="col-md-10">-->
  <%= render "public/posts/show" %>
  <!--  </div>-->
  <!--</div>-->
</div>