<h1>Mypage</h1>
<div class="container">
  <%= render "public/users/show" %>
  <!--<div class="row">-->
  <!--  <div class="col-md-10">-->
  <%= link_to "いいねした投稿", likes_public_user_path(@user.id) %>
  <%= render "public/posts/show" %>
  <!--  </div>-->
  <!--</div>-->
</div>